<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Persona</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                Nombre:
                <input v-model="nombrePersona" type="text" id="nombre" name="nombre" class="form-control">
            </div>
            <div>
                Direccion:
                <input v-model="direccionPersona" type="text" id="direccion" name="direccion" class="form-control">
            </div>
            <div>
                Documento:
                <input v-model="documentoPersona" type="number" id="documento" name="documento" class="form-control">
            </div>
            <div>
                Edad:
                <input v-model="edadPersona" type="number" id="edad" name="edad" class="form-control">
            </div>
            <hr>
            <div>
                <input v-on:click="agregarPersona" type="submit" value="Agregar" class="btn btn-success btn-block">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                titulo: 'Agregando persona',
                nombrePersona: '',
                documentoPersona: 0,
                direccionPersona: '',
                edadPersona: 0
            },
            methods: {
                agregarPersona: function(){
                    console.log (this.nombrePersona + this.direccionPersona );
                }
            }
        });
    </script>
</body>

</html>